body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
.navbar-nav li a{
  font-size: 17px;
  color: black;
  font-weight: 500;
 
}
.navbar-brand{
  letter-spacing: 1px;
}

/* Card */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px black;
}

/* Product */
.product img {
  transition: all 0.5s ease;
}
.product img:hover{
  transform: scale(1.1);
}
.btn{
  color: black;
  border: 1px solid black;
}
.btn:hover{
  color: white;
  background-color: black;
}
.btn-outline-primary ms-2{
  color:white;
  background-color: black;
}